<kendo-window title="تغییر کلمه عبور" *ngIf="showWindow" width="370" height="400"
  (close)="closeWindowChangePass()">
  <form #form="ngForm" mcbForm (do)="onChangePassClick()">
    <mcb-row>
      <mcb-column col_md="12">
        <mcb-form-control labelKey="currentPassword" [errorMessage]="errorTypeCurrent">
          <input class="inputText" kendoTextBox name="currentPassword" [type]="showCurrentPass ? 'text' : 'password'"
            [(ngModel)]="changePassModel.currentPassword" required (input)="validityInput($event.target.value , 'current')"
            minlength="4" [pattern]="regexEng" (focusout)="resetForm()" mcbAutoFocus />
          <span class="input-group-text" (click)="toggleEye('currentPass')">
            <i class="icon fa" [ngClass]="{'fa-eye-slash': !showCurrentPass,'fa-eye showPass': showCurrentPass}"></i>
          </span>
        </mcb-form-control>
      </mcb-column>
    </mcb-row>
    <mcb-row>
      <mcb-column col_md="12">
        <mcb-form-control labelKey="newPassword" [errorMessage]="errorTypeNew">
          <input #newPassEl class="inputText" kendoTextBox name="newPassword" [type]="showNewPass ? 'text' : 'password'"
            [(ngModel)]="changePassModel.newPassword" required (input)="validityInput($event.target.value ,'new')"
            minlength="4" [pattern]="regexEng" />
          <span class="input-group-text" (click)="toggleEye('newPass')">
            <i class="icon fa" [ngClass]="{'fa-eye-slash': !showNewPass,'fa-eye showPass': showNewPass}"></i>
          </span>
        </mcb-form-control>
      </mcb-column>
    </mcb-row>
    <mcb-row>
      <mcb-column col_md="12">
        <mcb-form-control labelKey="confirmPassword" [errorMessage]="errorTypeConfirm">
          <input class="inputText" kendoTextBox name="confirmPassword" [type]="showConfirmPass ? 'text' : 'password'"
            [(ngModel)]="changePassModel.confirmPassword" required (input)="validityInput($event.target.value , 'confirm')"
            [disabled]="!newPassEl.value" [pattern]="regexEng" />
          <span class="input-group-text" (click)="toggleEye('confirmPass')">
            <i class="icon fa" [ngClass]="{'fa-eye-slash': !showConfirmPass,'fa-eye showPass': showConfirmPass}"></i>
          </span>
        </mcb-form-control>
      </mcb-column>
    </mcb-row>
    <br>
    <button kendoButton type="submit" icon="save green" [disabled]="form.invalid">
      {{ "save" | translator }}
    </button>
    <button kendoButton icon="close red" type="button" class="mr-2"
      (click)="closeWindowChangePass()">{{'return' | translator}}</button>
  </form>
</kendo-window>
<div class="k-overlay" *ngIf="showWindow"></div>
