<h3 class="login-title">بازیابی گذرواژه</h3>
<div style="width: 60%; margin: auto;">
  <form mcbForm (do)="onFormSubmit()" autocomplete="off">
    <label class="userName login-form-control">
      <i class="fa fa-user login-user-icon"></i>
      <input [placeholder]="'userName'| translator" kendoTextBox name="username" [(ngModel)]="userName"
             [required]="true" maxlength="20" />
    </label>
    <button kendoButton type="submit" class="login-btn w-100 mt-3" [primary]="true">تایید</button>
    <div class="exit mt-3">
      <a class="fas ml-2 fa-arrow-right"></a>
      <span style="color: #5e5b5b; font-weight: 500; cursor: pointer;"
      routerLink="..">{{'applicationExit'| translator}}</span>
    </div>
  </form>
</div>
