.login-title {
  padding-top: 10%;
  padding-bottom: 5%;
  text-align: center;
  color: #5e5b5b;
}

.login-form-control input {
  background-color: #e4e4e4;
  border-radius: 5px;
  border-color: #e4e4e4 !important;
  padding-right: 25px;
}

.login-user-icon {
  position: absolute;
  top: 8px;
  z-index: 1;
  right: 10px;
}

.login-btn {
  background-color: #f25920 !important;
  border-radius: 10px;
}

.exit {
  color: #5e5b5b;
  cursor: pointer;
  text-align: center;
}