<h3 class="login-title">تغییر کلمه عبور</h3>
<div style="width: 60%; margin: auto;">
  <form mcbForm (do)="onFormSubmit()" autocomplete="off">
    <label class="userName login-form-control">
      <i class="fa fa-key login-user-icon"></i>
      <input kendoTextBox [placeholder]="'currentPassword'| translator" type="password" name="currentPassword"
             [(ngModel)]="currentPassword" maxlength="20" [required]="true" />
    </label>

    <label class="password login-form-control mt-3">
      <i class="fa fa-key login-user-icon"></i>
      <input kendoTextBox [placeholder]="'password'| translator" type="password" name="password"
             maxlength="20" [(ngModel)]="newPassword" [required]="true" />
    </label>
    <label class="password login-form-control mt-3">
      <i class="fa fa-key login-user-icon"></i>
      <input kendoTextBox [placeholder]="'repeatNewPassword'| translator" type="password"
             name="newPasswordConfirm" [(ngModel)]="newPasswordConfirm" [required]="true" maxlength="20"
             [equalWith]="newPassword" [inequalityMessage]="'inequalPassword' | translator" />
    </label>

    <button kendoButton type="submit" class="login-btn w-100 mt-3" [primary]="true">تایید</button>
    <div class="exit mt-3">
      <a class="fas ml-2 fa-arrow-right"></a>
      <span style="color: #5e5b5b; font-weight: 500; cursor: pointer;"
            routerLink="..">{{'applicationExit'| translator}}</span>
    </div>
  </form>
</div>
